<h1>Admin User's management</h1>

<%= paginate @users %>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Admin?</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>