<h1>Admin User Information</h1>

<p>
  Name: <%= @user.firstname %> <%= @user.lastname %>
</p>
<p>
  <%= @user.email %>
</p>
<p>
  Admin?: <%= @user.admin %>
</p>
<p>
  Created at: <%= @user.created_at %>
</p>
<p>
  Updated at: <%= @user.updated_at %>
</p>